
{% load staticfiles %}
{% block content %}
{%load render_table from django_tables2 %}

<html>
	<head>
		<title>Actividades Madrid</title>
		<link rel="stylesheet" href="{% static 'css/Actividades.css' %}">
	</head>
<body>
<a name="inicio"></a>
 

<div class="page-header">
<h1><img class =izquierda" src="{% static 'css/AytoMad.png' %}"/> App web de obtenci&oacuten de datos <small>(Actividades culturales)</small><img class ="derecha" src="{% static 'css/AytoBcn.png' %}"/> </h1>
</div>



<br>
<div class="embed-container">
<iframe src="https://www.google.es/maps/d/embed?mid=1zHxge16EMldyy7gIQuVtmv6DxQE" ></iframe>
</div>


{% endblock %}

</body>
</html>